@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: "Midpoint Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Midpoint Pro Regular"),
    url(~@/assets/fonts/midpoint-pro-regular.woff) format("woff");
}

@font-face {
  font-family: "Midpoint Pro Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("Midpoint Pro Oblique"),
    url(~@/assets/fonts/midpoint-pro-oblique.woff) format("woff");
}

a {
  cursor: pointer;
  user-select: none;
}

.input-base {
  @apply bg-secondary border-2 border-primary text-header rounded-md pl-1 pr-1 pt-1 pb-1;
}

.hr-base {
  @apply w-full my-4 opacity-5 border-t select-none;
}

.button-base {
  @apply p-2 rounded-md text-header;
}

*:disabled {
  @apply opacity-50 pointer-events-none select-none;
}

.switch-base {
  @apply rounded-full cursor-pointer focus:outline-none;
}

.switch-ball-base {
  @apply transform ring-0 transition ease-in-out duration-200 pointer-events-none inline-block;
}

.modal-base {
  @apply fixed inset-0 items-center justify-center flex flex-col bg-black bg-opacity-30 z-10;
}

.swiper-slide {
  @apply flex;
}

.swiper-pagination-bullet-active {
  @apply bg-primary !important;
}

.switch-box-base {
  @apply text-header border-border flex mb-2 p-2 h-16 text-xl text-left;
}
