@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: "Midpoint Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Midpoint Pro Regular"),
    url(~@/assets/fonts/midpoint-pro-regular.woff) format("woff");
}

@font-face {
  font-family: "Midpoint Pro Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("Midpoint Pro Oblique"),
    url(~@/assets/fonts/midpoint-pro-oblique.woff) format("woff");
}

a {
  cursor: pointer;
  user-select: none;
}

.input-base {
  @apply bg-secondary border-2 border-primary text-header rounded-md pl-1 pr-1 pt-1 pb-1;
}

.hr-base {
  @apply w-full mt-4 mb-4 opacity-5;
}

.button-base {
  @apply p-2 rounded-md text-header;
}
